<!DOCTYPE html>
<!-- saved from url=(0050)http://getbootstrap.com/examples/starter-template/ -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/queue.ico">

    <title>Anime Queue</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="animeQueue">
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl"
        ng-show="isNormalNav()"
      >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/home">Anime Queue</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <!-- Normal navigation-->
                <ul class="nav navbar-nav">
                    <li><a href="#/queue" ng-show="isLoggedIn()">Queue</a></li>
                </ul>

                <!-- Always show the login stuff-->
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
                    <li ng-show="isLoggedIn()"><a href="#/home" ng-click="logOut()">Log Out</a></li>
                    <li ng-hide="isLoggedIn()"><a href="#/login">Log In</a></li>
                    <li ng-hide="isLoggedIn()"><a href="#/register">Register</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <ui-view></ui-view>



<!-- Placed at the end of the document so the pages load faster -->
<script src="javascripts/lib/jquery.min.js"></script>
<script src="javascripts/lib/bootstrap.min.js"></script>

<script src="javascripts/lib/angular.min.js"></script>
<script src="javascripts/lib/angular-ui-router.js"></script>
<script src="javascripts/anime-queue.js"></script>

</body>
</html>