body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html, body { height: 100%; }

/*This is for the floating nav bar*/
body { padding-top: 50px; }

.navbar {
  border-radius: 0px;
}

#anime {
  height: 100%;
}

#anime object {
  width: 100%;
  height: 100%;
}

.btn-inverse {
  color: #ffffff;
  background-color: #222222;
  border-color: #222222;
}

.btn-primary:hover {

}

.animeActions {
  /*display: none;*/
  font-size: 75%;
}

#animeQueue:hover .animeActions {
  /*display: block;*/
}

.animeActions span:hover {
  text-decoration: underline;
  cursor:pointer;
}
