<div>
    <div class="container">
        <div class="col-md-8 col-md-offset-2">

            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <!--<span class="icon-bar"></span>-->
                        </button>
                        <a class="navbar-brand" href="#home">Anime Queue</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <!--<li><a href="#">about</a></li>-->
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>

            <div class="page-header">
                <h1>Anime Queue</h1>
            </div>

            <table class="table table-striped" id="animeQueue">
                <tr>
                    <th class="col-md-2 text-center">Epi #</th>
                    <th class="col-md-1 text-center"></th>
                    <th>Anime</th>
                </tr>
                <tr ng-repeat="anime in animeQueue">
                    <td class="text-center">
                        <span class="episodeActions btn" ng-click="previousEpisode(anime)">&lt;</span>
                        <a href="#/anime/{{anime._id}}">{{anime.lastWatched + 1}}</a>
                        <span class="episodeActions btn" ng-click="nextEpisode(anime)">&gt;</span>
                    </td>
                    <td>
                        <div class="animeActions">
                            <span ng-click="editAnime(anime);">edit</span>
                            <span ng-click="deleteAnime($index);">delete</span>
                        </div>
                    </td>
                    <td>{{anime.name}}</td>
                </tr>
            </table>

            <button ng-hide="isFormVisible" class="btn btn-primary btn-inverse" ng-click="showForm(true);">Add Anime</button>

            <form ng-show="isFormVisible" id="newAnimeForm" ng-submit="addAnime();">
                <h3>{{formTitleAction}} Anime</h3>

                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           placeholder="Name"
                           ng-model="animeToAdd.name" />
                </div>
                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           placeholder="Link"
                           ng-model="animeToAdd.link" />
                </div>
                <div class="form-group">
                    <input ng-show="formAction == 'Add'" type="text"
                           class="form-control"
                           placeholder="Last Episode # watched"
                           ng-model="animeToAdd.lastWatched" />

                    <input ng-hide="formAction == 'Add'" type="text"
                           class="form-control"
                           placeholder="Episode #"
                           ng-model="animeToAdd.currentEpisode" />
                </div>
                <button type="submit" class="btn btn-primary btn-inverse">{{formAction}}</button>
                <button class="btn btn-danger" ng-click="showForm(false)">Cancel</button>
            </form>
        </div>
    </div>
</div>